{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# FILES PAGE SCRIPTS #}
  <script src="{% static 'photos/js/basic-upload.js' %}"></script>
{% endblock %}

{# 1. BUTTON TO TRIGGER THE ACTION #}
<button type="button" class="btn btn-primary js-upload-photos">
  <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
</button>

{# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
<input id="fileupload" type="file" name="document" multiple
       style="display: none;"
       data-url="{% url 'files:upload' %}"
       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
<h1>Welcome{{ u_fname}} {{ u_lname}}</h1>
{# 3. TABLE TO DISPLAY THE UPLOADED PHOTOS #}
<table id="gallery" class="table table-bordered">
  <thead>
    <tr>
      <th>File</th>
    </tr>
  </thead>
  <tbody>
    {% for document in files %}
      <tr>
        <td><a href="{{ document.file.url }}">{{ document.file.description }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
